.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-btn {
    background: none;
    border: 2px solid #d88995;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}

.filter-btn.active,
.filter-btn:hover {
    background-color: #d88995;
    color: white;
}